* {
  box-sizing: border-box;
}

.drop-down-bg-container {
  position: relative;
  width: 344px;
  margin-bottom: 10px;
}

.drop-down-container {
  width: 344px;
  height: 35px;

  background-color: #ffffff;

  border-radius: 5px;
  padding: 2px;

  display: flex;
  align-items: center;
}

.drop-down-search-input {
  height: 33px;
  width: 100%;

  background-color: #ffffff;

  color: #262e39;
  font-size: 14px;

  border-width: 0px;
  outline: none;

  padding-left: 10px;
  padding-right: 10px;
}

.drop-down-search-button {
  background-color: transparent;

  width: 30px;
  border: none;

  cursor: pointer;
  outline: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown-icons {
  font-size: 17px;
}

.arrow-button {
  background-color: transparent;

  width: 30px;
  border: none;

  cursor: pointer;
  outline: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.arrow-icon {
  font-size: 8px;
}

.drop-down-options-card {
  position: absolute;
  top: 35px;
  left: 0px;

  width: 344px;
  max-height: 120px;

  list-style-type: none;
  background-color: #ffffff;
  border: 1px solid #edf0f5;

  padding: 0px;
  margin: 0px;

  overflow-y: auto;
}

.drop-down-option {
  display: flex;
  align-items: center;
}

.drop-down-option-checkbox-card {
  width: 35px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon {
  font-size: 20px;
  color: #4b4ddb;
}

.drop-down-option-button {
  color: #262e39;
  font-size: 14px;
  text-align: left;

  width: 100%;
  height: 30px;
  border: none;

  background-color: #ffffff;
}

.hide-button {
  display: none;
}
