.time-bg-container {
  position: relative;

  width: 150px;
  height: 31px;

  padding-left: 5px;
  padding-right: 5px;

  background-color: #ffffff;

  display: flex;
  align-items: center;
}

.time-dropdown {
  width: 150px;
  appearance: none;

  padding-left: 20px;
  border: none;

  outline: none;
}

.time-button {
  position: absolute;
  top: 6px;
  left: 0px;
  pointer-events: none;

  background-color: transparent;
  border-width: 0px;
}

.time-icon {
  font-size: 17px;
}
