.date-picker-bg-container {
  position: relative;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;

  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;

  display: flex;
  align-items: center;
}

.calendar-button {
  position: absolute;
  top: 5px;
  left: 2px;

  pointer-events: none;

  background-color: transparent;
  border-width: 0px;

  cursor: pointer;
}

.calendar-icon {
  font-size: 18px;
}

.date-input {
  width: 150px;
  height: 31px;
  padding-left: 25px;

  color: #262e39;
  font-size: 15px;
  outline: none;
  border: none;
}
