.date-input {
  width: 150px;
  height: 31px;
  padding: 10px 10px 10px 3px;

  border: 1px solid #e5e5e5;
  border-radius: 5px;
  color: #262e39;
  font-size: 15px;

  outline: none;
}

.react-datepicker__calendar-icon {
  width: 30px !important;
  height: 30px !important;
}
